.btn {
	display: inline-block;
	font-family: $primaryFont;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.313rem;
	transition: 0.3s ease;
	padding: 0.938rem 3.125rem;
	font-weight: $fontBold;
	border: 1px solid transparent;

	&__primary {
		background-color: $primaryColor;
		color: $whiteColor;

		&:hover {
			background-color: $whiteColor;
			color: $primaryColor;
			border-color: $primaryColor;
			svg {
				fill: $primaryColor;
				stroke:  $primaryColor;
			}
		}
	}

	&__secondary {
		background-color: $whiteColor;
		color: $primaryColor;
		border-color: $primaryColor;

		&:hover {
			background-color: $primaryColor;
			color: $whiteColor;
		}
	}

	@include smallDesktop {
		padding: 10px 22px;
	}

	@include allMobile {
		padding: 7px 20px;
	}
}
