.header {
	box-shadow: 0px 12px 40px 0px #0000000f;

	&__nav {
		padding: 29px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.form {
	&__container {
		@media (min-width: 1400px) {
			max-width: 1275px;
		}
	}
	&__title {
		font-size: 3.75rem;
		line-height: 120%;
		font-weight: $fontBold;

		span {
			&.border {
				position: relative;
				display: inline-block;

				&::before {
					content: "";
					position: absolute;
					background: $primaryColor;
					width: 100%;
					height: 14px;
					bottom: 6px;
					z-index: -1;
				}
			}
		}
	}

	&__desc {
		margin-bottom: 1.25rem;
	}

	&__card {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		margin-top: 40px;

		&__img {
			max-width: 686px;
			width: 100%;
		}
		&__content {
			max-width: 470px;
			width: 100%;

			h2 {
				margin-bottom: 15px;
			}
		}
	}

	//  form inputs
	&__item {
		padding-bottom: 1rem;
	}

	&__time {
		position: relative;
		width: 100%;

		input {
			width: 100%;
			appearance: none;
			padding: 20px 25px 20px 20px;
			border: 1px solid #00040333;
			border-radius: 6px;
			font-size: 16px;
			line-height: 0;
			background: url("/assets/img/timedownArro.svg") no-repeat right 10px
				center;
			background-size: 16px 16px;
		}
	}

	&__label {
		display: inline-block;
		margin-bottom: 0.5rem;
		color: $titleColor;
		text-transform: capitalize;
		position: relative;

		&::after {
			content: "*";
			color: red;
			position: absolute;
			right: -10px;
			top: 0;
		}
	}

	&__input {
		width: 100%;
		border: 1px solid rgba(0, 4, 3, 0.2);
		border-radius: 8px;
		padding: 19px 16px;
		font-size: 16px;
		line-height: 0;

		::placeholder {
			color: #666968;
			opacity: 1;
		}

		&__pass {
			position: relative;
			padding-right: 40px;
		}

		&__icon {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			cursor: pointer;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
		}

		// select box ui
		&__select {
			width: 100%;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: 16px;
				top: 50%;
				transform: translateY(-50%);
				background-image: url("/assets/img/arrow-down.svg");
				background-size: 10px;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				transition: transform 0.3s ease;
				background-position: center center;
			}

			&:hover:after {
				transform: translateY(-50%) rotate(180deg);
			}

			& select {
				appearance: none;
				width: 100%;
				max-width: 100%;
				font-size: 16px;
				padding: 16px 32px 16px 16px;
				border: 1px solid rgba(0, 4, 3, 0.2);
				border-radius: 8px;
				font-size: 16px;
				line-height: 150%;
				background: transparent;

				&:focus {
					outline: none;
				}
			}
		}
	}

	&__password-wrapper {
		position: relative;

		svg {
			width: 24px;
			height: 24px;
		}

		.hidden {
			display: none;
		}
	}

	&__header {
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		margin-inline: auto;

		&--max546 {
			max-width: 546px;
			margin-bottom: 50px;
		}

		&--step5 {
			max-width: 584px;
			margin-bottom: 50px;
		}
	}

	&__items {
		width: 100%;
		margin: auto;
		&--step2 {
			max-width: 570px;
		}
		&--step3 {
			max-width: 1140px;
		}

		&--step4 {
			max-width: 482px;
		}
		&--step5 {
			max-width: 584px;
		}

		&__wrap {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
			align-items: center;
		}
	}

	// radio card

	&__radioWrap {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		padding-top: 4px;
	}

	&__checkbox {
		&-wrapper {
			display: flex;
			align-items: center;
			padding: 25px 24px;
			border: 1px solid #fce9ba;
			border-radius: 16px;
			margin-bottom: 20px;
		}
		&__items {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			gap: 20px;
			padding-bottom: 56px;

			&:nth-of-type(1) {
				padding-bottom: 20px;
			}

			&:nth-of-type(2) {
				padding-bottom: 38px;
			}
		}

		position: relative;
		width: 20px;
		height: 20px;
		-webkit-appearance: none;
		appearance: none;
		border: 2px solid #000000;
		border-radius: 4px;
		background-color: white;
		cursor: pointer;
		outline: none;
		transition: background-color 0.3s ease, border-color 0.3s ease;

		&:checked {
			background-color: transparent;
			border-color: #f4b41a;

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				width: 5px;
				height: 10px;
				border-right: 2px solid #f4b41a;
				border-bottom: 2px solid #f4b41a;
				transform: translate(-50%, -60%) rotate(45deg);
			}
		}

		&__item {
			display: flex;
			align-items: center;
		}

		&__label {
			margin-left: 8px;
			font-size: 20px;
			color: $blackColor;
			line-height: 0;
			font-weight: $fontBold;
			display: block;
			cursor: pointer;

			&--light {
				font-weight: $fontNormal;
			}
		}
	}

	&__progress {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		padding-bottom: 19px;

		&__wrap {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: 10px;
		}
	}

	&__dots {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	&__dot {
		width: 51px;
		height: 3px;
		border-radius: 5px;
		background-color: #666968;
		opacity: 0.7;
		transition: background-color 0.3s ease;
		display: inline-block;

		&--active {
			background-color: $primaryColor;
		}
	}

	&__counter {
		font-size: 1rem;
		line-height: 150%;
		color: $titleColor;
		font-weight: $fontBold;
	}

	&__current-step {
		font-weight: $fontBold;
	}

	&__total-steps {
		font-weight: $fontBold;
	}

	&__steps {
		display: flex;
		flex-direction: column;
	}
	&__step {
		display: none; // Hide all steps by default

		&--active {
			display: block; // Show only the active step
		}
		&--step1 {
			padding-bottom: 96px;
		}

		&--step2 {
			padding-bottom: 116px;
		}
		&--step3 {
			padding-bottom: 37px;
		}
		&--step4 {
			padding-bottom: 270px;
		}
		&--step5 {
			padding-bottom: 40px;
		}
	}

	&__button {
		width: 100%;
		display: none;
		max-width: 570px;

		&--mt {
			margin-top: 24px;
		}

		&--prev {
			background-color: #95a5a6;
		}
	}
}

.pt-100 {
	padding-top: 100px;
}
.pt-110 {
	padding-top: 110px;
}
.pt-70 {
	padding-top: 70px;
}

.form__time input.flatpickr-input.flatpickr-mobile {
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}

@include tablet {
	.header {
		&__nav {
			padding: 20px 0;
		}
	}
	.form {
		padding-bottom: 46px;
		&__title {
			font-size: 36px;
			line-height: 120%;

			span {
				&.border {
					&::before {
						height: 7px;
						bottom: 6px;
					}
				}
			}
		}

		&__radioWrap {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}

		&__step {
			&--step1 {
				padding-bottom: 40px;
			}

			&--step2 {
				padding-bottom: 54px;
			}
			&--step3 {
				padding-bottom: 25px;
			}
			&--step4 {
				padding-bottom: 135px;
			}
			&--step5 {
				padding-bottom: 40px;
			}
		}
	}

	.pt-100 {
		padding-top: 70px;
	}
	.pt-110 {
		padding-top: 80px;
	}
	.pt-70 {
		padding-top: 50px;
	}
}
@include allMobile {
	.header {
		&__nav {
			padding: 10px 0;
		}
	}
	.form {
		padding-bottom: 46px;
		&__title {
			font-size: 26px;
			line-height: 120%;

			span {
				&.border {
					&::before {
						height: 7px;
						bottom: 6px;
					}
				}
			}
		}
		&__desc {
			font-size: 16px;
			line-height: 150%;
		}
		&__step {
			&--step1 {
				padding-bottom: 0;
			}

			&--step2 {
				padding-bottom: 0;
			}
			&--step3 {
				padding-bottom: 0;
			}
			&--step4 {
				padding-bottom: 0;
			}
			&--step5 {
				padding-bottom: 0;
			}
		}
		&__card {
			flex-direction: column;
			&__img {
				max-width: 80%;
				margin-inline: auto;
			}
		}

		&__input {
			padding: 10px 10px;

			&__select {
				select {
					padding: 10px 32px 10px 10px;
				}
			}
		}

		&__password {
			&-wrapper {
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}

		&__items {
			&__wrap {
				grid-template-columns: 1fr;
				gap: 0;
			}
		}

		&__radioWrap {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}

		&__checkbox {
			&-wrapper {
				padding: 10px 16px;
			}
			&__items {
				gap: 10px;
			}

			&__label {
				font-size: 16px;
				line-height: 150%;
			}
		}

		&__time {
			input {
				padding: 10px 15px 10px 10px;
				font-size: 14px;
				background-position: right 5px center;
			}
		}

		&__dots {
			width: 60%;
		}

		&__button {
			&--mt {
				margin-top: 20px;
			}
		}

		&__progress {
			&__wrap {
				max-width: 60%;
				width: 100%;
			}
		}
	}

	.pt-100 {
		padding-top: 50px;
	}
	.pt-110 {
		padding-top: 60px;
	}
	.pt-70 {
		padding-top: 40px;
	}
}
