.parichy {
  padding-top: 75px;
  padding-bottom: 75px;

  &__heading {
    text-align: center;
    margin-bottom: 52px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &.last-center {
      & > div {
        &:last-child {
          grid-column: 1 / -1; 
        }
      }
    }
  }

  &__card { 
    padding: 17px 12px;
    border: 1px solid #0004031A;
    border-radius: 12px;
    display: flex;
    align-items: center;

    &.shadow {
      box-shadow: 0px 0px 16px 0px #0000001F;
    }
  
    &:last-child() {
        background: red;
    }
   

    &__wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    color: $blackColor;
  }

  &__sub-heading {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    padding: 24px 0;
    margin: 0;
  }

  &_imgWrap {
    width: 100%;
    max-width: 52px;
    max-height: 52px;

    img {
      aspect-ratio: 1/ 1;
    }
  }

  &__desc {
    color: $textColor;
    margin-bottom: 0;
  }

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;

    &__heading {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 18px;
      font-weight: 400;
    }
  }

  @include allMobile {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
      font-size: 16px;
      font-weight: 400;
    }

    &__cards {
      padding-top: 10px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__card {
      padding: 12px 12px;
    }

    &__heading {
      margin-bottom: 0px;
    }
  }
}