.price {
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	&__section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&__card {
		border: 1px solid #0004031a;
		border-radius: 1rem;
		padding: 1.5rem;
	}

	&__heading {
		margin-bottom: 50px;
		text-align: center;
	}

	&__title {
		font-weight: $fontBold;
		color: $blackColor;
		margin-bottom: 2px;
	}

	&__amount {
		margin-bottom: 16px;
		color: $primaryColor;
	}

	&__tag {
		font-size: 1rem;
		color: #666968;
		font-weight: $fontNormal;
		line-height: 1rem;
	}

	&__desc {
		color: #666968;
		margin-bottom: 2rem;
	}

	&__list {
		li {
			list-style: none;
			padding-left: 2.5rem;
			position: relative;
			color: #1a1a1a;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
			&::before {
				position: absolute;
				content: "";
				background-color: $lightPeach;
				background-image: url("/assets/img/Check-icon.svg");
				min-width: 28px;
				background-repeat: no-repeat;
				min-height: 28px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 100%;
			}
		}
	}

	&__btn {
		.btn {
			display: block;
			margin-top: 2rem;
		}
	}

	@include tablet {
		&__section {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		&__heading {
			margin-bottom: 30px;
		}

		&__cards {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include allMobile {
		&__cards {
			grid-template-columns: repeat(1, 1fr);
		}
		&__section {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}
