:root {
	--swiper-navigation-size: 14px;
	--swiper-pagination-bottom: -50px;
}

.slider {
	padding-top: 75px;
	padding-bottom: 75px;

	&-content {
		text-align: center;
		margin-bottom: 50px;
	}
}

.swiper {
	&-section {
		width: 100%;
		margin: auto;
		position: relative;
	}

	&-title {
		margin-bottom: 20px;
	}

	&-wrapper {
		display: flex;
		align-items: stretch;
	}

	&-container {
		width: 100%;
		margin: auto;
		overflow-x: hidden;
		margin-left: 150px;
	}

	&-slide {
		width: auto;
		flex-shrink: 0;
		height: unset;
		display: flex;

		&-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			height: unset;
			cursor: grab;

			& img {
				border-radius: 16px;
				margin-bottom: 20px;
			}
		}

		&-imgWrap {
			width: 100px;
			height: 100px;
			padding: 5px;
			background: $primaryColor;
			border-radius: 50%;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 60px;
				aspect-ratio: 1/1;
				object-fit: contain;
			}
		}

		&-title  {
			font-size: 20px;
			line-height: 120%;
			color: $blackColor;
			font-weight: 500;
			margin:0;
			text-align: left;
		}

		&-desc {
			margin-top: 6px;
			color: $blackColor;
			
		}

		h3 {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 140%;
			text-align: center;
		}
	}

	&-button-next,
	&-button-prev {
		color: $whiteColor;
		width: 32px;
		height: 32px;
		background: $primaryColor;
		border-radius: 50px;
		font-weight: 900;
		display: none;
	}
	&-pagination-bullet {
		background: transparent;
		opacity: 1;
		width: 12px;
		height: 12px;
		border-radius: 50px;
		border: 1px solid $primaryColor;

		&-active {
			background: $primaryColor;
		}
	}
}

@media (max-width: 1024px) {
	.slider {
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.swiper {
		&-section {
			padding-inline: 100px;
		}

		&-container { 
			margin-left: 0;
		}
	}
}

@media (max-width: 767px) {
	.slider {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.swiper {
		&-section {
			padding-inline: 20px;
		}
	}
}
