$primaryColor: #F4B41A;
$bgSecondary: #FCE9BA;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$textColor: #333635;
$titleColor: #000403;
$primaryFont: "Plus Jakarta Display", sans-serif;



$fontNormal: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;