@import './sass-loader.scss';
@import './partials/resets';
@import './partials/typography.scss';

//  section
@import './section/button.scss'; 
@import './section/header.scss';
@import './section/hero.scss';
@import './section/contentWithImg.scss';
@import './section/contentWithImg.scss';
@import './section/feature.scss';
@import './section/discover.scss';
@import './section/price.scss';
@import './section/faq.scss';
@import './section/footer.scss';
@import './section/swiper.scss';
@import './section/form-input.scss';
@import './section/form.scss';
@import './section/multistep-form.scss';



.borderBottom {
  border-bottom: 5px solid $primaryColor;
}

.title {
  text-align: center;
}


.pb {
  padding-bottom: 3.125rem ;
}

.py {
  padding: 3.75rem 0;
}

.py-section {
  padding-top: 76px;
  padding-bottom: 76px;
}

.section-padding {
  padding-top: 84px;
  padding-bottom: 80px;
}

.pt {
  padding-top: 80px;
}
.pb { 
  padding-bottom: 80px;
}
