html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Display", sans-serif;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  appearance: none;
}

.mb-0 {
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2.hero, .h1 {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  margin-bottom: 20px;
  color: #000403;
}
@media (max-width: 991px) {
  h1, h2.hero, .h1 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  h1, h2.hero, .h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  h1, h2.hero, .h1 {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  h1, h2.hero, .h1 {
    font-size: 30px;
  }
}

h2, .h2 {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 25px;
  color: var(--titleColor);
}
@media (max-width: 1199px) {
  h2, .h2 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  h2, .h2 {
    font-size: 26px;
  }
}

h3, .h3 {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  margin-bottom: 25px;
  color: var(--titleColor);
}
@media (max-width: 1199px) {
  h3, .h3 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  h3, .h3 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  h3, .h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  h3, .h3 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  h3, .h3 {
    font-size: 24px;
  }
}

h4, .h4 {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 14px;
  color: var(--titleColor);
}
@media (max-width: 991px) {
  h4, .h4 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  h4, .h4 {
    font-size: 20px;
    margin-bottom: 14;
  }
}

h5, .h5 {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  color: var(--titleColor);
}
@media (max-width: 767px) {
  h5, .h5 {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  h5, .h5 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  h5, .h5 {
    font-size: 18px;
  }
}

h6, .h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
  color: var(--titleColor);
}
@media (max-width: 575px) {
  h6, .h6 {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  h6, .h6 {
    font-size: 15px;
  }
}
h6.thin, .h6.thin {
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 24px;
  color: #333635;
  line-height: 150%;
}
@media (max-width: 1199px) {
  p {
    margin-bottom: 20px;
  }
}
p:last-child {
  margin-bottom: 0;
}

.border {
  position: relative;
}
.border::before {
  content: "";
  position: absolute;
  background: #F4B41A;
  width: 100%;
  height: 14px;
  z-index: -1;
}

.btn {
  display: inline-block;
  font-family: "Plus Jakarta Display", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.313rem;
  transition: 0.3s ease;
  padding: 0.938rem 3.125rem;
  font-weight: 700;
  border: 1px solid transparent;
}
.btn__primary {
  background-color: #F4B41A;
  color: #FFFFFF;
}
.btn__primary:hover {
  background-color: #FFFFFF;
  color: #F4B41A;
  border-color: #F4B41A;
}
.btn__primary:hover svg g {
  fill: #F4B41A;
}
.btn__secondary {
  background-color: #FFFFFF;
  color: #F4B41A;
  border-color: #F4B41A;
}
.btn__secondary:hover {
  background-color: #F4B41A;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .btn {
    padding: 10px 22px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 7px 20px;
  }
}

.nav {
  padding: 1.157rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo img {
  width: 170px;
  height: auto;
}
.nav__toggle {
  display: none;
}
.nav__menu {
  display: flex;
  gap: 1rem;
}
.nav__menu li {
  list-style: none;
  display: inline-block;
}
.nav__menu li a {
  color: #333635;
  padding: 1rem 0.938rem;
  line-height: 1.5rem;
  display: block;
  position: relative;
}
.nav__menu li a.active {
  color: #000403;
}
.nav__menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: 1px;
  background-color: #F4B41A;
}
.nav__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
  .nav__menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #ff00f0;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease;
  }
  .nav__btn {
    display: none;
  }
  .nav__toggle {
    display: inline-block;
  }
  .nav--open .nav__menu {
    height: 240px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1.0823fr 1fr;
  gap: 1.346rem;
  align-items: center;
  padding: 3rem 0;
}
.hero__title {
  position: relative;
}
.hero__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 135.5px;
  height: 135.5px;
  background-color: #fce9ba;
  border-radius: 100%;
  z-index: -1;
  transform: translate(30%, -47%);
}
.hero__title span {
  font-size: 3.75rem;
  line-height: 120%;
}
.hero__title span.border {
  position: relative;
  display: inline-block;
}
.hero__title span.border::before {
  content: "";
  position: absolute;
  background: #F4B41A;
  width: 100%;
  height: 14px;
  bottom: 6px;
  z-index: -1;
}
.hero__btn {
  margin-top: 1rem;
}
.hero__contentWrap {
  position: relative;
}
.hero__imgWrap img {
  scale: 1.13;
  transform-origin: left;
}
@media (max-width: 991px) {
  .hero__title {
    font-size: 30px;
    line-height: 120%;
  }
  .hero__title::before {
    width: 80px;
    height: 80px;
    transform: translate(28%, -48%);
  }
  .hero__title span {
    font-size: 35px;
    line-height: 120%;
    display: inline-block;
  }
  .hero__title span.border {
    display: inline-block;
  }
  .hero__title span.border::before {
    content: "";
    bottom: 2px;
  }
}
@media (max-width: 767px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .hero__imgWrap img {
    scale: initial;
    transform-origin: initial;
  }
  .hero__title {
    font-size: 25px;
    line-height: 120%;
  }
  .hero__title::before {
    width: 60px;
    height: 60px;
    transform: translate(108%, -47%);
    left: 50%;
  }
  .hero__title span {
    font-size: 30px;
    line-height: 120%;
    display: inline-block;
  }
  .hero__title span.border {
    display: inline-block;
  }
}

.digital {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}
.digital__btn {
  margin-top: 1rem;
}
.digital__contentWrap {
  position: relative;
}
@media (max-width: 991px) {
  .digital {
    gap: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .digital {
    grid-template-columns: 1fr;
    gap: 2.125rem;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.digital {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}
.digital__btn {
  margin-top: 1rem;
}
.digital__contentWrap {
  position: relative;
}
@media (max-width: 991px) {
  .digital {
    gap: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .digital {
    grid-template-columns: 1fr;
    gap: 2.125rem;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.feature {
  padding: 2.156rem 1.25rem;
  display: flex;
  gap: 2.25rem;
  margin-bottom: 3.75rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FFEAD6;
  background: linear-gradient(to bottom, rgba(255, 234, 214, 0.3) 0%, rgb(255, 255, 255) 100%);
  border-radius: 16px;
  padding-bottom: 10px;
}
.feature:last-child {
  margin-bottom: 0;
}
.feature__section {
  padding-top: 76px;
  padding-bottom: 76px;
}
.feature__heading {
  text-align: center;
  margin-bottom: 50px;
}
.feature--bg-blue {
  border: 1px solid #D6E7FF;
  background: linear-gradient(to bottom, rgba(214, 231, 255, 0.3) 0%, rgb(255, 255, 255) 100%);
}
.feature--reverse {
  flex-direction: row-reverse;
}
.feature__imgWrap {
  max-width: 560px;
  width: 100%;
}
.feature__content {
  flex: 1;
  max-width: 504px;
  width: 100%;
}
.feature__btn {
  margin-top: 1rem;
}
.feature__contentWrap {
  position: relative;
}
@media (max-width: 1199px) {
  .feature__imgWrap {
    width: 45%;
  }
  .feature__content {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .feature {
    margin-bottom: 30px;
  }
  .feature__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .feature {
    margin-bottom: 24px;
    padding-bottom: 2rem;
    gap: 1rem;
    flex-direction: column;
  }
  .feature__imgWrap {
    width: 100%;
  }
  .feature__content {
    width: 100%;
  }
  .feature__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.discover__wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 0.938rem;
  padding-bottom: 3.125rem;
}
.discover__section {
  padding-top: 84px;
  padding-bottom: 80px;
}
.discover__btn {
  text-align: center;
}
.discover__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding-bottom: 2.5rem;
}
.discover__cards .card {
  padding: 1.25rem;
  border: 1px solid rgba(0, 4, 3, 0.1019607843);
  border-radius: 1rem;
}
.discover__cards .card__imgWrap {
  border-radius: 0.5rem;
  object-fit: contain;
  width: 100%;
  margin-bottom: 1.25rem;
}
.discover__cards .card__imgWrap img {
  aspect-ratio: 18/11;
}
.discover__cards .card__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}
.discover__cards .card__user__profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}
.discover__cards .card__share {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1.5rem;
  align-items: center;
}
.discover__cards .card__share__title {
  color: #F4B41A;
  font-weight: 700;
  margin-bottom: 0;
}
.discover__cards .card__share__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.discover__cards .card__share__imgWrap {
  height: 36px;
  width: 36px;
  aspect-ratio: 1/1;
  background-color: #FFEAD6;
  border-radius: 50%;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover__form {
  max-width: 267px;
  width: 100%;
  margin-left: auto;
}
@media (max-width: 991px) {
  .discover__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .discover__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .discover__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .discover__wrap {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .discover__cards {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .discover__cards .card {
    padding: 1rem;
  }
  .discover__share__wrap {
    gap: 6px;
  }
  .discover__form {
    max-width: 100%;
  }
}

.price__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.price__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.price__card {
  border: 1px solid rgba(0, 4, 3, 0.1019607843);
  border-radius: 1rem;
  padding: 1.5rem;
}
.price__heading {
  margin-bottom: 50px;
  text-align: center;
}
.price__title {
  font-weight: 700;
  color: #000000;
  margin-bottom: 2px;
}
.price__amount {
  margin-bottom: 16px;
  color: #F4B41A;
}
.price__tag {
  font-size: 1rem;
  color: #666968;
  font-weight: 400;
  line-height: 1rem;
}
.price__desc {
  color: #666968;
  margin-bottom: 2rem;
}
.price__list li {
  list-style: none;
  padding-left: 2.5rem;
  position: relative;
  color: #1a1a1a;
}
.price__list li:not(:last-child) {
  margin-bottom: 1.25rem;
}
.price__list li::before {
  position: absolute;
  content: "";
  background-color: #FFEAD6;
  background-image: url("/assets/img/Check-icon.svg");
  min-width: 28px;
  background-repeat: no-repeat;
  min-height: 28px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
}
.price__btn .btn {
  display: block;
  margin-top: 2rem;
}
@media (max-width: 991px) {
  .price__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .price__heading {
    margin-bottom: 30px;
  }
  .price__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .price__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .price__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.faq {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 2.125rem;
}
.faq__section {
  padding-top: 80px;
}
.faq__wrap {
  background: #f6f6f6;
  padding: 100px 0;
}
.faq__title p {
  margin-bottom: 0;
}
.faq__title a {
  font-weight: 700;
  color: #F4B41A;
}

.accordion {
  width: 100%;
}
.accordion__item {
  border: 1px solid rgba(102, 105, 104, 0.3019607843);
  padding: 13.5px 21px;
  border-radius: 12px;
  transition: 0.3s ease;
}
.accordion__item:not(:last-child) {
  margin-bottom: 19px;
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 0;
}
.accordion__title {
  flex: 1;
  padding-right: 30px;
  position: relative;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 700;
}
.accordion__title::before {
  content: "";
  background-image: url("/assets/img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.accordion__content p {
  margin-top: 4px;
  padding-right: 30px;
}
.accordion--active {
  background: #f6f6f6;
  border-color: transparent;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1019607843);
  transition: 0.3s ease;
}
.accordion--active__header .accordion--active__title {
  padding-bottom: 0;
}
.accordion--active__header .accordion--active__title::before {
  transform: rotate(180deg) translateY(50%);
}
.accordion--active__content {
  max-height: 1000px;
}

@media (max-width: 991px) {
  .faq {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .faq {
    grid-template-columns: 1fr;
  }
  .accordion__title {
    font-size: 16px;
    line-height: 1;
  }
  .accordion__content p {
    font-size: 14px;
    line-height: 150%;
  }
}
.footer__wrap {
  background: #000000;
}
.footer__content {
  max-width: 521px;
  margin: auto;
  padding-top: 78px;
  padding-bottom: 69px;
}
.footer__menu {
  padding-top: 12px;
  padding-bottom: 10px;
}
.footer__menu li {
  display: inline-block;
  list-style: none;
}
.footer__menu li a {
  color: #FFFFFF;
  padding-inline: 15px;
  display: block;
  margin-bottom: 14px;
}
.footer__logo {
  max-width: 457px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.footer__desc {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 12px;
}
.footer__social__imgWrap {
  background: rgba(244, 180, 26, 0.1607843137);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__imgWrap img {
  width: fit-content;
  object-fit: contain;
}
.footer__copy {
  border-top: 2px solid rgba(244, 180, 26, 0.1607843137);
}
.footer__copy-text {
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .footer__content {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

:root {
  --swiper-navigation-size: 14px;
  --swiper-pagination-bottom: -50px;
}

.slider {
  background: #FCE9BA;
  padding-top: 149px;
  padding-bottom: 48px;
}
.slider-content {
  text-align: center;
  margin-bottom: 60px;
}

.swiper-section {
  max-width: 1244px;
  width: 100%;
  margin: auto;
  position: relative;
}
.swiper-title {
  margin-bottom: 20px;
}
.swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.swiper-container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  overflow-x: hidden;
  margin-bottom: 100px;
}
.swiper-slide {
  width: auto;
  flex-shrink: 0;
  height: unset;
  display: flex;
}
.swiper-slide-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fce9ba;
  border: 1px solid #F4B41A;
  border-radius: 24px;
  padding: 30px 32px;
  height: unset;
}
.swiper-slide-imgWrap {
  width: 100px;
  height: 100px;
  padding: 5px;
  background: #F4B41A;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide-imgWrap img {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.swiper-slide-next .swiper-slide-wrap {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1215686275);
  border-color: transparent;
}
.swiper-slide h3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}
.swiper-button-next, .swiper-button-prev {
  color: #F4B41A;
  width: 32px;
  height: 32px;
  background: #f9d98c;
  border-radius: 50px;
}
.swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 1px solid #F4B41A;
}
.swiper-pagination-bullet-active {
  background: #F4B41A;
}

@media (max-width: 1024px) {
  .swiper-section {
    padding-inline: 100px;
  }
}
select.select {
  background-color: #f6f6f6;
  border: thin solid transparent;
  border-radius: 6px;
  display: inline-block;
  font: inherit;
  padding: 1em 3.5em 1em 1em;
  appearance: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #666968;
  width: 100%;
}
select.select.classic {
  background-image: url("/assets/img/arrow-down.svg");
  background-position: calc(100% - 1rem);
  background-size: 14px 10px;
  background-repeat: no-repeat;
}
select.select.classic:focus {
  border-color: grey;
  outline: 0;
}
@media (max-width: 767px) {
  select.select {
    padding: 0.5em 3.5em 0.5em 1em;
  }
}

.searchform {
  padding-top: 1rem;
  padding-bottom: 76px;
}
.searchform__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 356px;
  width: 100%;
  justify-content: center;
  border-radius: 5px;
}
.searchform__btn img {
  width: 20px;
}
.searchform__element {
  width: 100%;
  max-width: 486px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  align-items: center;
}
.searchform__wrapper {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 1rem;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 1.5rem;
  justify-content: space-between;
}
.searchform__buisness {
  border: none;
  outline: none;
  max-width: 244px;
}
.searchform__options {
  width: 100%;
  max-width: 242px;
  position: relative;
  padding-left: 60px;
}
.searchform__options::before {
  content: "";
  background: radial-gradient(circle, rgb(244, 180, 26) 0%, rgb(255, 255, 255) 100%);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  height: 42px;
  width: 1px;
}
.searchform__options::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/assets/img/arrow-down.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  background-position: center center;
}
.searchform__options:hover:after {
  transform: translateY(-50%) rotate(180deg);
}
.searchform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  color: #293240;
  width: 100%;
  max-width: 242px;
}
@media (max-width: 991px) {
  .searchform__btn {
    width: fit-content;
  }
}
@media (max-width: 767px) {
  .searchform__wrapper {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .searchform__btn {
    width: 100%;
  }
  .searchform select {
    width: 100%;
    max-width: 100%;
  }
  .searchform__options {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  .searchform__options::before {
    display: none;
  }
  .searchform__element {
    grid-template-columns: 1fr;
  }
  .searchform__buisness {
    border: none;
    outline: none;
    max-width: 100%;
    padding: 16px 10px;
  }
}

.upload__container {
  border: 2px dashed #F4B41A; /* Dashed border with specified color */
  border-radius: 10px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 20px;
  gap: 12px;
  cursor: pointer;
}
.upload__container input[type=file] {
  opacity: 0; /* Hide the default file input */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload__text {
  font-size: 1rem;
  color: #333635;
  margin-bottom: 0;
}
.upload__desc {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}
.upload__name {
  font-size: 1rem;
  line-height: 150%;
  color: #333635;
  margin-bottom: 0;
}
.upload__btn {
  background-color: #fce9ba;
  color: white;
  border: none;
  padding: 15px 49px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 150%;
  margin-top: 0;
  cursor: pointer;
}
.upload__btn:hover {
  background-color: #e5a01a; /* Darker hover effect */
}

.card__radio {
  display: block;
}
.card__radio-input {
  display: none;
}
.card__radio-input:checked + .card__content {
  border: 2px solid #333635;
}
.card__content {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.card__content:hover {
  border-color: #333635;
}
.card__image {
  width: 100%;
  height: auto;
  max-height: 348px;
  object-fit: contain;
  border-radius: 6px;
}
.card__title {
  margin-top: 9px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #000403;
  line-height: 140%;
}
.card__sub-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__sub-color-label {
  font-weight: 400;
  font-size: 14px;
  color: #333635;
  line-height: 155%;
}
.card__sub-color-options {
  display: flex;
  gap: 10px;
}
.card__sub-color-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card__sub-color-option .card__sub-color-radio {
  display: none;
}
.card__sub-color-option .card__sub-color-radio:checked + .card__sub-color-text {
  cursor: not-allowed;
  border: 2px solid black;
}
.card__sub-color-option .card__sub-color-text {
  padding-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #022a2e;
  border: 2px solid #022a2e;
}

@media (max-width: 767px) {
  .upload__container {
    padding: 16px;
    gap: 5px;
  }
  .upload__btn {
    padding: 10px 30px;
  }
}
@media (max-width: 576px) {
  .card__image {
    max-height: 100%;
  }
}
.header {
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.0588235294);
}
.header__nav {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1400px) {
  .form__container {
    max-width: 1275px;
  }
}
.form__title {
  font-size: 3.75rem;
  line-height: 120%;
  font-weight: 700;
}
.form__title span.border {
  position: relative;
  display: inline-block;
}
.form__title span.border::before {
  content: "";
  position: absolute;
  background: #F4B41A;
  width: 100%;
  height: 14px;
  bottom: 6px;
  z-index: -1;
}
.form__desc {
  margin-bottom: 1.25rem;
}
.form__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 40px;
}
.form__card__img {
  max-width: 686px;
  width: 100%;
}
.form__card__content {
  max-width: 470px;
  width: 100%;
}
.form__card__content h2 {
  margin-bottom: 15px;
}
.form__item {
  padding-bottom: 1rem;
}
.form__time {
  position: relative;
  width: 100%;
}
.form__time input {
  width: 100%;
  appearance: none;
  padding: 20px 25px 20px 20px;
  border: 1px solid rgba(0, 4, 3, 0.2);
  border-radius: 6px;
  font-size: 16px;
  line-height: 0;
  background: url("/assets/img/timedownArro.svg") no-repeat right 10px center;
  background-size: 16px 16px;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #000403;
  text-transform: capitalize;
  position: relative;
}
.form__label::after {
  content: "*";
  color: red;
  position: absolute;
  right: -10px;
  top: 0;
}
.form__input {
  width: 100%;
  border: 1px solid rgba(0, 4, 3, 0.2);
  border-radius: 8px;
  padding: 19px 16px;
  font-size: 16px;
  line-height: 0;
}
.form__input ::placeholder {
  color: #666968;
  opacity: 1;
}
.form__input__pass {
  position: relative;
  padding-right: 40px;
}
.form__input__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.form__input__select {
  width: 100%;
  position: relative;
}
.form__input__select::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/assets/img/arrow-down.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  background-position: center center;
}
.form__input__select:hover:after {
  transform: translateY(-50%) rotate(180deg);
}
.form__input__select select {
  appearance: none;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  padding: 16px 32px 16px 16px;
  border: 1px solid rgba(0, 4, 3, 0.2);
  border-radius: 8px;
  font-size: 16px;
  line-height: 150%;
  background: transparent;
}
.form__input__select select:focus {
  outline: none;
}
.form__password-wrapper {
  position: relative;
}
.form__password-wrapper svg {
  width: 24px;
  height: 24px;
}
.form__password-wrapper .hidden {
  display: none;
}
.form__header {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  margin-inline: auto;
}
.form__header--max546 {
  max-width: 546px;
  margin-bottom: 50px;
}
.form__header--step5 {
  max-width: 584px;
  margin-bottom: 50px;
}
.form__items {
  width: 100%;
  margin: auto;
}
.form__items--step2 {
  max-width: 570px;
}
.form__items--step3 {
  max-width: 1140px;
}
.form__items--step4 {
  max-width: 482px;
}
.form__items--step5 {
  max-width: 584px;
}
.form__items__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: center;
}
.form__radioWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-top: 4px;
}
.form__checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 25px 24px;
  border: 1px solid #fce9ba;
  border-radius: 16px;
  margin-bottom: 20px;
}
.form__checkbox__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
  padding-bottom: 56px;
}
.form__checkbox__items:nth-of-type(1) {
  padding-bottom: 20px;
}
.form__checkbox__items:nth-of-type(2) {
  padding-bottom: 38px;
}
.form__checkbox:checked {
  background-color: transparent;
  border-color: #f4b41a;
}
.form__checkbox:checked::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border-right: 2px solid #f4b41a;
  border-bottom: 2px solid #f4b41a;
  transform: translate(-50%, -60%) rotate(45deg);
}
.form__checkbox__item {
  display: flex;
  align-items: center;
}
.form__checkbox__label {
  margin-left: 8px;
  font-size: 20px;
  color: #000000;
  line-height: 0;
  font-weight: 700;
  display: block;
  cursor: pointer;
}
.form__checkbox__label--light {
  font-weight: 400;
}
.form__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 19px;
}
.form__progress__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 10px;
}
.form__dots {
  display: flex;
  gap: 10px;
  align-items: center;
}
.form__dot {
  width: 51px;
  height: 3px;
  border-radius: 5px;
  background-color: #666968;
  opacity: 0.7;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.form__dot--active {
  background-color: #F4B41A;
}
.form__counter {
  font-size: 1rem;
  line-height: 150%;
  color: #000403;
  font-weight: 700;
}
.form__current-step {
  font-weight: 700;
}
.form__total-steps {
  font-weight: 700;
}
.form__steps {
  display: flex;
  flex-direction: column;
}
.form__step {
  display: none;
}
.form__step--active {
  display: block;
}
.form__step--step1 {
  padding-bottom: 96px;
}
.form__step--step2 {
  padding-bottom: 116px;
}
.form__step--step3 {
  padding-bottom: 37px;
}
.form__step--step4 {
  padding-bottom: 270px;
}
.form__step--step5 {
  padding-bottom: 40px;
}
.form__button {
  width: 100%;
  display: none;
  max-width: 570px;
}
.form__button--mt {
  margin-top: 24px;
}
.form__button--prev {
  background-color: #95a5a6;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-70 {
  padding-top: 70px;
}

.form__time input.flatpickr-input.flatpickr-mobile {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

@media (max-width: 991px) {
  .header__nav {
    padding: 20px 0;
  }
  .form {
    padding-bottom: 46px;
  }
  .form__title {
    font-size: 36px;
    line-height: 120%;
  }
  .form__title span.border::before {
    height: 7px;
    bottom: 6px;
  }
  .form__radioWrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .form__step--step1 {
    padding-bottom: 40px;
  }
  .form__step--step2 {
    padding-bottom: 54px;
  }
  .form__step--step3 {
    padding-bottom: 25px;
  }
  .form__step--step4 {
    padding-bottom: 135px;
  }
  .form__step--step5 {
    padding-bottom: 40px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pt-110 {
    padding-top: 80px;
  }
  .pt-70 {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    padding: 10px 0;
  }
  .form {
    padding-bottom: 46px;
  }
  .form__title {
    font-size: 26px;
    line-height: 120%;
  }
  .form__title span.border::before {
    height: 7px;
    bottom: 6px;
  }
  .form__desc {
    font-size: 16px;
    line-height: 150%;
  }
  .form__step--step1 {
    padding-bottom: 0;
  }
  .form__step--step2 {
    padding-bottom: 0;
  }
  .form__step--step3 {
    padding-bottom: 0;
  }
  .form__step--step4 {
    padding-bottom: 0;
  }
  .form__step--step5 {
    padding-bottom: 0;
  }
  .form__card {
    flex-direction: column;
  }
  .form__card__img {
    max-width: 80%;
    margin-inline: auto;
  }
  .form__input {
    padding: 10px 10px;
  }
  .form__input__select select {
    padding: 10px 32px 10px 10px;
  }
  .form__password-wrapper svg {
    width: 18px;
    height: 18px;
  }
  .form__items__wrap {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .form__radioWrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .form__checkbox-wrapper {
    padding: 10px 16px;
  }
  .form__checkbox__items {
    gap: 10px;
  }
  .form__checkbox__label {
    font-size: 16px;
    line-height: 150%;
  }
  .form__time input {
    padding: 10px 15px 10px 10px;
    font-size: 14px;
    background-position: right 5px center;
  }
  .form__dots {
    width: 60%;
  }
  .form__button--mt {
    margin-top: 20px;
  }
  .form__progress__wrap {
    max-width: 60%;
    width: 100%;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pt-110 {
    padding-top: 60px;
  }
  .pt-70 {
    padding-top: 40px;
  }
}
.result {
  max-width: 783px;
  margin: auto;
}
.result__btn {
  max-width: 570px;
  display: block;
  margin-inline: auto;
}
.result__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}
.result__copy {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Center items vertically */
}
.result__copy p {
  margin-bottom: 0;
  font-weight: 700;
}
.result__copy__btn {
  cursor: pointer;
}
.result__copy__share__btn {
  cursor: pointer;
}
.result__copy__wrap {
  border: 2px dashed #e5a01a; /* Dashed border color */
  border-radius: 10px;
  padding: 17.6px 19px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.result__copy__icon {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media (max-width: 767px) {
  .result__copy__wrap {
    padding: 10px 10px;
    margin-bottom: 30px;
  }
}
.borderBottom {
  border-bottom: 5px solid #F4B41A;
}

.title {
  text-align: center;
}

.pb {
  padding-bottom: 3.125rem;
}

.py {
  padding: 3.75rem 0;
}

.py-section {
  padding-top: 76px;
  padding-bottom: 76px;
}

.section-padding {
  padding-top: 84px;
  padding-bottom: 80px;
}

.pt {
  padding-top: 80px;
}

.pb {
  padding-bottom: 80px;
}

/*# sourceMappingURL=style.css.map */
